.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  border: 2px solid grey;
  width: 300px;
  height: 420px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 4px;
}

.eachRow {
  padding: 4px;
  margin: 2px;
  background-color: antiquewhite;
  /* border: 1px solid black; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2px;
}

.loader {
  background-color: grey;
  color: white;
  height: 25px;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
}
